<section class="container container-about">
    <div class="row">
      <div class="col-md-12">
        <center><h1><b>About</b></h1></center>
            <br</br>
        <p>
               Dr. Kumar Shubham received the B. Tech. degree from Madan Mohan Malviya Engineering College, Gorakhpur of Uttar Pradesh Technical University, India, in 2008, and the Ph.D. degree in Electronics Engineering from the IIT- BHU, India, in 2013. He has been actively engaged in research in the area of semiconductor devices. He has published over 15 research papers in international journals and has presented research papers at various international conferences in India. His current research interests include fabrication and characterization of thin film devices, sensors, theoretical modeling and simulation of semiconductor devices for high speed and integrated optoelectronic applications.


            </p>
        </div>
    </div>
</section>
